apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tlavallee4-project-submission
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/tlavallee4/module_6_part3gitops.git
    targetRevision: main
    path: k8s
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true